# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Model files (optional ignore OR keep if you want GitHub demo)
*.pkl

# Database
*.db

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/
